@media screen and (min-width: 1000px) {
header {
    height:20%;
    margin:0px;
    padding:0px;
    background-color:blue;
}

/*Definimos que todo dentro del header sea elemento inline*/
header *{
   
    padding:0px;
    margin:0px;
    
}
/*Escondemos todos los elementos con la clase mobile*/
.mobile {
    display:none;
}

/*Definimos el tamaño de la foto*/
div img{
    display:inline;
    width:20%;
    height:100%;
} 
/*Definimos el tamaño del titulo, su posición y tipo de letra*/
div h1{
    text-align:center;
    font-size: 130px;
    font-style: italic;
    margin-left:10%;
    margin-top:1.5%;
}
/*Definimos como se comportan los div*/
div {
    display:flex;
    background-color:red;
    flex-wrap:nowrap;
    justify-content: flex-start;
    height:100%;
}
 /*AQUI TERMINAMOS DE EDITAR EL HEADER*/

 /*EMPEZAMOS CON LA EDIDICÓN DEL BODY*/

/*definimos el fondo y margen de toda la pagina */
body {
    border: solid 1px;
    border-color:black;
    margin:0px;
    padding:0px;
    background-color:grey;
}

/*hacemos nuestra lista de navegación responsive, columnas invertidas, y alienadas para que estén arriba*/
nav {
    width:20%;
    display:flex;
    flex-direction:column-reverse;
    justify-content:flex-end;
    background-color:red;
}

/*le ponemos bordes a nuestros parrafos, estos que ocupen todo el contenedor */
nav p {
    font-size:20px;
    border:solid 1px;
    border-color:black;
    border-right: 100%;
}
/*Especificams el main que sea flexible, ocupe el 100% de la pagina 
y su contenido este separado a lo largo horizontalmente de la pagina*/
main {
    display:flex;
    height:100%;
    justify-content:space-between;
}
  /*Especificamos que nuestros articles sean flexibles, ocupando el 80% y 
  su contenido no esté todo en la misma linea, centrado*/
article {
    display:flex;
    background-color:lightblue;
    align-items:center;
    width: 80%;
     flex-wrap:wrap; 
    justify-content: space-around;
}
/*Espeficamos el tamaño de los section, alineados en columnas centradas */
section{
    overflow:scroll;
    padding-left:5px;
    padding-right:5px;
    display:flex;
    border:solid 1px;
    width: 40%; 
    height: 40%;
    background-color:greenyellow;
    flex-direction:column;
    align-items:center;
}

/*Definimos el tamaño de las imagenes dentro de las secciones*/
section img{
    width:50%;
    height:50%;
}



footer{
    height:10%;
    background-color:brown;
}

/*AQUI TERMINAN LOS ESTILOS DEL BODY*/
}
/*EMPEZAMOS CON LA EDICIÓN DE LA PAGINA SEGÚN LA SIGUIENTE QUERIE*/
@media screen and (max-width:999px) {
    /*PRIMERO EDITAMOS EL HEADER
    MARCAMOS COMO FLEX LOS CONTENIDOS DEL DIV Y QUE NO ESTÉN AGRUPADOS EN LA MISMA LINEA CON WRAP*/
header div{
    flex-direction:column;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
} /*Con Order, haremos que el h1 salga antes que la foto*/
div h1{
    order:-1;
    font-size: 100px;
}
#icon {
    width:50%;
    height:50%;
}
div h2 {
    font-size:50px;
}


/*Empezamos con la edición del main*/
body {
    background-color:rgb(100, 100, 100);
}

section img {
    width:70%;
    height:70%;
}

main article{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

p {
    display:flex;
    font-size:30px;
}

h1 {
    font-size: 35px;
}

article section{
    width:80%;
    background-color:rgb(131, 132, 133);
    display:flex;
    margin-bottom:30px;
    flex-direction:column;    
    align-items:center;
}

main nav{
    display:none;
}

main{
    display:flex;
}

.desktop{
    display:none;
}


}